*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 120vh;
  width: 100%;
  background-image: url(bgimage.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}